In [1]:
# Create a List
L = ["The Bodyguard", 7.0, 1992]
L[0]

'The Bodyguard'

In [2]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: The Bodyguard
 Negative: The Bodyguard
the same element using negative and positive indexing:
 Postive: 7.0
 Negative: 7.0
the same element using negative and positive indexing:
 Postive: 1992
 Negative: 1992

In [3]:
## Quiz on List

In [15]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
list = [1, 'hello', [1,2,3], True]
print(list) 
print(list[1])
print(list[1:4])

[1, 'hello', [1, 2, 3], True]
hello
['hello', [1, 2, 3], True]

In [17]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
C = A + B
print(C)

[1, 'a', 2, 1, 'd']

Task-1 Create an empty list
At first we need to create a empty list for storing the items to buy in Shopping list.

shopping_list= []

Task-2 Now store the number of items to the shopping_list

In [24]:
shopping_list = ['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

Task-3 Add a new item to the shopping_list
Seems like I missed one item "Football" to add in the shopping list.

In [31]:
shopping_list.append("Football")

Task-4 Print First item from the shopping_list
Let's check the first item that we need to buy.

In [28]:
print(shopping_list[0])

Watch

Task-5 Print Last item from the shopping_list
Let's check the last time that we need to buy.

In [30]:
print(shopping_list[-1])

Football

# Task-6 Print the entire Shopping List

In [32]:
print(shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football', 'Football']

Task-7 Print the item that are important to buy from the Shopping List
Print "Laptop" and "shoes"

In [35]:
print(shopping_list[1:3])

['Laptop', 'Shoes']

ask-8 Change the item from the shopping_list
Instead of "Pen" I want to buy "Notebook" let's change the item stored in the list.

In [38]:
shopping_list[3] = "Notebook"

In [39]:
print(shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football', 'Football']

Task-9 Delete the item from the shopping_list that is not required
Let's delete items that are unimportant, such as; I don't want to buy Clothes, let's delete it.

In [40]:
del(shopping_list[4])
print(shopping_list)

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football', 'Football']

Tuples
In Python, there are different data types: String, Integer, and Float. These data types can all be contained in a tuple as follows:

Quiz on Tuples
Consider the following tuple:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

In [41]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [42]:
# Find the length of the tuple, genres_tuple:
len(genres_tuple)

8

In [45]:
# Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [46]:
# Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [48]:
# Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [50]:
#Find the index of 's' in "disco":
"disco".find('s')

2

In [53]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5,1,-3)
C_sortedList = sorted(C_tuple)
C_sortedList

[-5, -3, 1]